#!/sbin/runscript
# Copyright 1999-2010 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header$

depend() {
	need localmount
	use net
}

start() {
	ebegin Starting VMware services
	modprobe -a vmblock vmmon vmnet || eend $?
	/opt/vmware/player/bin/vmware-networks --start
	eend $?
}

stop() {
	ebegin Stopping VMware services
	/opt/vmware/player/bin/vmware-networks --stop || eend $?
	modprobe -r vmblock vmmon vmnet
	eend $?
}
