#!/sbin/runscript
# Copyright 1999-2010 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header$

depend() {
	need localmount
	use net
}

start() {
	ebegin Starting VMware services
	modprobe -a vmmon vmci vsock vmblock vmnet || eend $?
	@@BINDIR@@/vmware-networks --start
	eend $?
}

stop() {
	ebegin Stopping VMware services
	@@BINDIR@@/vmware-networks --stop || eend $?
	modprobe -r vsock vmci vmmon vmblock vmnet
	eend $?
}
